@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

// ---====== Root ======---//

$grey: #5f5f6e;

* {
    font-family: "Source Sans Pro", sans-serif;
}

//---====== Nav Part ======---//

nav {
    background-color: #1c1c24;
    height: 80px;
    border: 2px solid #2d2d3a;
    .container {
        .row {
            h5 {
                font-weight: 500;
                color: #fff;
                line-height: 1.6;
                cursor: pointer;
            }
            .logo {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #4447e2;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
                i {
                    padding: 6px;
                }
            }
            .task,
            .news,
            .help {
                cursor: pointer;
                i {
                    font-size: 24px;
                    font-weight: normal;
                    color: $grey;
                }
                span {
                    font-size: 16px;
                    color: $grey;
                }

                .task:active {
                    color: #fff;
                }
            }
            .user {
                .plus {
                    width: 146px;
                    height: 40px;
                    background-color: black;
                    border-radius: 15px;
                    padding: 5px;
                    cursor: pointer;
                    .icon {
                        width: 30px;
                        height: 30px;
                        background: #4447e2;
                        border-radius: 10px;
                        .bx-plus {
                            color: #fff;
                            font-size: 17px;
                            padding: 7px;
                        }
                    }
                    .bxs-coin-stack {
                        font-size: 16px;
                        color: #fff;
                    }
                    span {
                        color: #fff;
                        font-size: 16px;
                        padding: 4px 0;
                    }
                }
                .user-logo {
                    cursor: pointer;
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0 14px 0 10px;
                    }
                    i {
                        color: $grey;
                        font-weight: bold;
                        font-size: 26px;
                    }
                    .dropdown {
                        ul {
                            width: 255px;
                            height: auto;
                            background-color: #1c1c24;
                            border: 2px solid #2d2d3a;
                            border-radius: 15px;
                            li {
                                margin-top: 15px;
                                .logout {
                                    a {
                                        i {
                                            font-size: 24px;
                                            font-weight: normal;
                                            color: #e24444;
                                        }
                                        span {
                                            font-size: 16px;
                                            font-weight: 600;
                                            color: #e24444;
                                        }
                                    }
                                }
                                .dropdown-item {
                                    input {
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;
                                        -webkit-tap-highlight-color: transparent;
                                        cursor: pointer;
                                    }
                                    input:focus {
                                        outline: 0;
                                    }
                                    .toggle {
                                        height: 24px;
                                        width: 44px;
                                        border-radius: 15px;
                                        display: inline-block;
                                        position: relative;
                                        margin: 0;
                                        background: #2d2d3a;
                                        transition: all 0.2s ease;
                                    }
                                    .toggle:after {
                                        content: "";
                                        position: absolute;
                                        top: 3px;
                                        left: 3px;
                                        width: 18px;
                                        height: 18px;
                                        border-radius: 50%;
                                        background: #4447e2;
                                        transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
                                    }
                                    .toggle:checked:after {
                                        transform: translatex(20px);
                                    }
                                }
                                i {
                                    font-size: 24px;
                                    font-weight: normal;
                                    color: #fff;
                                }
                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #fff;
                                }
                            }
                            .line {
                                width: 85%;
                                height: 1px;
                                background-color: #2d2d3a;
                                margin: 22px auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
